@media (max-width:1440px) {

  .container {
    padding: 0 50px;
  }

  .header__block {
    flex-wrap: wrap;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__nav {
    padding-top: 24px;
    order: 1;
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
  }

  .hero__box {
    width: 75%;
  }

  .about__text {
    width: 100%;
  }

  .gallery__box {
    flex-direction: column;
    align-items: flex-start;
  }

  .gallery__list {
    margin-bottom: 30px;
  }

  .catalog__text {
    width: 100%;
  }

  .catalog__article {
    flex-direction: column;
  }

  .catalog__picture {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .catalog__box {
    width: 100%;
  }

  .projects__text {
    width: 100%;
  }

  .events__content {
    padding: 15px 33px 48px 33px;
  }

  .events__text {
    margin-bottom: 24px;
  }

  .events__caption {
    margin-bottom: 6px;
  }

  .contacts__general {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}

@media (max-width:1024px) {

  .header {
    padding: 30px 0 25px 0;
  }

  .hero {
    padding: 100px 0;
    background-image: url("../img/birmingham1024.jpg");
  }


  .hero__text {
    margin-bottom: 133px;
  }

  .catalog {
    padding-top: 79px;
  }

  .catalog__title {
    margin-bottom: 14px;
  }

  .catalog__list {
    padding-top: 40px;
  }

  .events {
    padding-top: 81px;
  }

  .events__item:not(:last-child) {
    margin-right: 27px;
  }

  .events__span {
    align-self: flex-end;
  }

  .events__caption {
    padding-top: 4px;
  }

  .gallery {
    background-image: url("../img/birmingham1024Gallery.jpg");
  }

  .projects {
    padding: 80px 0 80px 0;
  }

  .projects__text {
    margin-bottom: 20px;
  }

  .contacts {
    padding: 41px 0 40px 0;
  }

  .contacts__input {
    padding: 9px 56px 9px 24px;
  }

  .contacts__caption {
    margin-bottom: 9px;
  }

  .contacts__caption--margin {
    margin-bottom: 0;
  }

  .contacts__address {
    font-size: 14px;
    line-height: 19.07px;
  }

  .contacts__socials {
    padding-top: 5px;
  }

  .contacts__btn {
    padding: 12px 42px 12px 42px;
  }

  .footer__box {
    align-items: center;
  }

  .footer {
    padding: 41px 0;
  }

  .footer__svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width:962px) {

  .nav__item:not(:last-child) {
    margin-right: 44px;
  }

  .events__content {
    min-height: 328px;
  }

  .events__list {
    flex-direction: column;
  }

  .events__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .contacts__form {
    width: 100%;
    flex-direction: column;
  }

  .contacts__inputs {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .contacts__input {
    padding: 15px 110px 15px 24px;
  }

  .contacts__btn {
    padding: 12px 30px 12px 30px;
  }
}

@media (max-width:768px) {

  .hero {
    padding: 87px 0;
    background-image: url("../img/birmingham768.jpg");
  }

  .hero__title {
    margin-bottom: 19px;
  }

  .about__title {
    margin-bottom: 14px;
  }

  .gallery {
    background-image: url("../img/birmingham768Gallary.jpg");
  }

  .gallery__pic:not(:last-child) {
    margin-right: 34px;
  }

  .catalog__date {
    margin-bottom: 6px;
  }

  .events__caption {
    margin-bottom: 11px;
  }

  .events__content {
    padding: 15px 33px 49px 33px;
  }

  .projects__title {
    margin-bottom: 15px;
  }

  .projects__text {
    margin-bottom: 26px;
  }

  .projects__box {
    padding-top: 30px;
  }

  .contacts {
    padding: 41px 0 38px 0;
  }

  .contacts__inputs {
    flex-wrap: wrap;
  }

  .contacts__link:not(:last-child) {
    margin-right: 18px;
  }
}

@media (max-width:704px) {

  .title {
    font-size: 28px;
    line-height: 38.13px;
  }

  .hero__box {
    width: 100%;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 28px;
  }

  .hero__text {
    margin-bottom: 35px;
    font-size: 12px;
    line-height: 16.34px;
  }

  .hero__btn {
    padding: 10px 19.14px;
    font-size: 12px;
  }

  .projects__caption {
    font-size: 18px;
    line-height: 32px;
  }

  .projects__box {
    flex-direction: column;
    gap: 12px;
  }

  .gallery__img {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .gallery__pic:not(:last-child) {
    margin-right: 0;
  }

  .events__content {
    min-height: 483px;
  }

  .events__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .contacts__caption {
    font-size: 18px;
    line-height: 32px;
  }

  .contacts__btn {
    display: none;
  }

  .contacts__btn-mobile {
    display: flex;
  }

  .contacts__input {
    width: 100%;
    padding: 10px 80px 10px 24px;
  }

  .footer__box {
    flex-direction: column-reverse;
  }

  .footer__socials {
    margin-bottom: 20px;
  }

}

@media (max-width:320px) {

  .container {
    padding: 0 15px;
  }

  .header {
    padding: 15px 0 11px 0;
  }

  .nav__link {
    font-size: 12px;
    line-height: 16.34px;
  }

  .nav__item:not(:last-child) {
    margin-right: 26px;
  }

  .header__nav {
    padding-top: 8px;
  }

  .header__svg {
    width: 18px;
    height: 18px;
  }

  .hero {
    padding: 50px 0;
    background-image: url("../img/birminghamMobile.jpg");
  }

  .about {
    padding: 49px 0 40px 0;
  }

  .about__text {
    font-size: 14px;
    line-height: 28px;
  }

  .about__title {
    margin-bottom: 12px;
  }

  .gallery {
    padding: 50px 0;
    background-image: url("../img/birminghamMobileGallary.jpg");
  }

  .gallery__title {
    margin-bottom: 15px;
  }

  .catalog {
    padding-top: 50px;
  }

  .catalog__title {
    margin-bottom: 12px;
  }

  .catalog__list {
    padding-top: 31px;
  }

  .catalog__picture {
    margin-bottom: 20px;
  }

  .catalog__date {
    margin-bottom: 12px;
  }

  .catalog__item:not(:last-child) {
    margin-bottom: 31px;
  }

  .events {
    padding-top: 50px;
  }

  .events__caption {
    padding-top: 10px;
    margin-bottom: 5px;
  }

  .events__list {
    padding-top: 12px;
  }

  .events__link {
    transform: translateX(6px) translateY(-0.8px);
  }

  .events__content {
    padding: 17px 18px 49px 22px;
  }

  .projects {
    padding-top: 50px;
    padding-bottom: 0;
  }

  .projects__title {
    margin-bottom: 11px;
  }

  .projects__text {
    margin-bottom: 52px;
  }

  .projects__box {
    padding-top: 10px;
  }

  .contacts {
    border-top: none;
    padding: 48px 0 50px 0;
  }

  .contacts__general {
    gap: 20px;
  }

  .contacts__caption {
    margin-bottom: 0;
  }

  .contacts__caption--margin {
    letter-spacing: -0.5px;
  }

  .contacts__inputs {
    margin-bottom: 20px;
  }

  .contacts__svg {
    width: 49px;
    height: 49px;
  }

  .footer {
    padding: 20px 0;
  }

  .footer__socials {
    margin-bottom: 15px;
  }

  .footer__svg {
    width: 50px;
    height: 50px;
  }
}