html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../Fonts/AnyConv.com__OpenSans-Regular.woff2") format("woff2"),
    url("../Fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../Fonts/AnyConv.com__OpenSans-SemiBold.woff2") format("woff2"),
    url("../Fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../Fonts/AnyConv.com__OpenSans-Bold.woff2") format("woff2"),
    url("../Fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root {
  --bg-color: #000;
  --amethyst-color: #9D5CD0;
  --checkbox-color: #C283F3;
  --activ-color: #7943A4;
  --grey-color: #333333;
  --light-color: #FFFFFF;
  --date-color: #999999;
  --hover-color: #D1A9F0;
  --input-color: #ECECEC;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  min-width: 320px;
}

.container {
  margin: 0 auto;
  padding: 0 75px;
  max-width: 1750px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  line-height: 65.37px;
  color: var(--grey-color);
}

.text {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey-color);
}

.caption {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 32.68px;
  color: var(--grey-color);
}

.btn {
  border: none;
  outline: none;
  border-radius: 100px;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24.51px;
  background-color: var(--amethyst-color);
  color: var(--light-color);
  cursor: pointer;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.btn:focus {
  outline: 3px solid var(--hover-color);
  outline-offset: 3px;
}

.btn:hover {
  background-color: var(--hover-color);
  outline: none;
}

.btn:active {
  background-color: var(--activ-color);
}

/*header*/

.header {
  padding: 28px 0;
  background-color: var(--bg-color);
  background-repeat: no-repeat;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  display: block;
  margin: 0;
  padding: 0;
  margin-right: 179px;
}

.header__nav {
  margin-right: auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 97px;
}

.nav__link {
  position: relative;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 24.51px;
  color: var(--light-color);
  z-index: 1;
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.nav__link:focus-visible {
  background-color: var(--amethyst-color);
  color: var(--light-color);
}

.nav__link::before {
  position: absolute;
  content: "";
  inset: -2px -6px;
  z-index: -1;
  opacity: 0;
  background-color: var(--amethyst-color);
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.nav__link:focus-visible::before {
  opacity: 1;
}

.nav__link:hover {
  color: var(--checkbox-color);
}

.nav__link:active {
  color: var(--activ-color);
}

.header__search {
  position: relative;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  z-index: 1;
  background: none;
  fill: var(--light-color);
  -webkit-transition: background-color .3s ease-in-out, fill .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, fill .3s ease-in-out;
  transition: background-color .3s ease-in-out, fill .3s ease-in-out;
}

.header__search:focus-visible {
  background-color: var(--amethyst-color);
  color: var(--light-color);
}

.header__search::before {
  position: absolute;
  content: "";
  inset: -2px -6px;
  z-index: -1;
  opacity: 0;
  background-color: var(--amethyst-color);
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.header__search:focus-visible::before {
  opacity: 1;
}

.header__search:hover {
  fill: var(--checkbox-color);
}

.header__search:active {
  fill: var(--activ-color);
}


/*hero*/

.hero {
  padding: 147px 0;
  background-image: url("../img/birmingham1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.hero__box {
  width: 34%;
}

.hero__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 72px;
  line-height: 68px;
  color: var(--light-color);
}

.hero__text {
  margin: 0;
  padding: 0;
  margin-bottom: 91px;
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: var(--light-color);
}

.hero__btn {
  padding: 22.5px 35px;
}


/*about*/

.about {
  padding: 79px 0 70px 0;
}

.about__title {
  margin-bottom: 17px;
}

.about__text {
  width: 65%;
}


/*gallery*/

.gallery {
  padding: 80px 0;
  background-image: url("../img/birminghamDesktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gallery__title {
  color: var(--light-color);
  margin-bottom: 20px;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.gallery__label {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox__new {
  position: absolute;
  top: 5px;
  width: 12px;
  height: 12px;
  background-color: var(--bg-color);
  border: 1px solid var(--light-color);
}

.checkbox__input:checked+.checkbox__new {
  background-image: url("../img/Ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--checkbox-color);
}

.checkbox__text {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 31px;
  color: var(--light-color);
}

.gallery__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.gallery__picture {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery__pic:not(:last-child) {
  margin-right: 50px;
}

/*catalog*/

.catalog {
  padding-top: 80px;
}

.catalog__title {
  margin-bottom: 16px;
}

.catalog__text {
  width: 68%;
}

.catalog__list {
  padding-top: 38px;
}

.catalog__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.catalog__item:not(:last-child) {
  margin-bottom: 49px;
}

.catalog__picture {
  width: 100%;
  margin-right: 50px;
  font-size: 0;
}

.catalog__image {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.catalog__box {
  width: 106%;
}

.catalog__caption {
  margin-bottom: 8px;
}

.catalog__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 16.34px;
  color: var(--date-color);
}

/*events*/

.events {
  padding-top: 78px;
}

.events__list {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.events__item {
  width: 100%;
}

.events__item:not(:last-child) {
  margin-right: 50px;
}

.events__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.events__picture {
  font-size: 0;
}

.events__pic {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.events__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-height: 400px;
  padding: 15px 50px 48px 50px;
  border: 1px solid #CACACA;
  border-top: none;
}

.events__caption {
  padding-top: 13px;
  margin-bottom: 8px;
}

.events__text {
  margin-bottom: 65px;
}

.events__link {
  position: relative;
  margin: 0;
  padding: 0;
  outline: none;
  margin-top: auto;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 29px;
  color: var(--amethyst-color);
  border-bottom: 1px solid currentColor;
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out, border-bottom .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, color .3s ease-in-out, border-bottom .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border-bottom .3s ease-in-out;
}

.events__link:focus-visible {
  background-color: var(--amethyst-color);
  color: var(--light-color);
}

.events__link::before {
  position: absolute;
  content: "";
  inset: -6px -6px;
  z-index: -1;
  opacity: 0;
  background-color: var(--amethyst-color);
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.events__link:focus-visible::before {
  opacity: 1;
}

.events__link:hover {
  color: var(--hover-color)
}

.events__link:active {
  background-color: transparent;
  color: var(--grey-color)
}

.events__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  line-height: 16.34px;
  color: var(--date-color);
}

/*projects*/

.projects {
  padding: 70px 0 80px 0;
}

.projects__title {
  margin-bottom: 18px;
}

.projects__text {
  margin-bottom: 30px;
  width: 67%;
}

.projects__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
  gap: 34px;
}

.projects__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 0;
}



/*contacts*/

.contacts {
  padding: 38px 0 36px 0;
  border-top: 1px solid #CACACA;
}

.contacts__general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__socials {
  padding-top: 3px;
}

.contacts__link {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.contacts__svg {
  fill: #30BF39;
}

.contacts__link:focus path {
  opacity: 50%;
}

.contacts__link:hover path {
  opacity: 50%;
}

.contacts__link:active path {
  opacity: 1;
}

.contacts__link:not(:last-child) {
  margin-right: 19px;
}

.contacts__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.contacts__input {
  display: block;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  padding: 10px 43px 10px 24px;
  border: 1px solid var(--grey-color);
  border-radius: 100px;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.contacts__input:focus {
  border: none;
  outline: 1px solid var(--grey-color);
  background-color: var(--input-color);
}

.contacts__input:hover {
  background-color: var(--input-color);
}

.contacts__input:active {
  color: var(--grey-color);
  background-color: transparent;
}

.contacts__btn {
  padding: 11px 35px 11px 35px;
  color: var(--amethyst-color);
  border: 1px solid currentColor;
  background-color: transparent;
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.contacts__btn:hover {
  color: var(--light-color);
}

.contacts__btn:active {
  color: var(--light-color);
}

.contacts__btn-mobile {
  display: none;
  padding: 11px 35px;
  background-color: transparent;
  color: var(--amethyst-color);
  border: 1px solid currentColor;
  font-size: 12px;
  line-height: 16.34px;
}


/*footer*/

.footer {
  padding: 49px 0;
  background-color: var(--bg-color);
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__link {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.footer__link:focus path {
  fill: var(--light-color)
}

.footer__link:hover path {
  fill: var(--light-color)
}

.footer__link:active path {
  fill: var(--amethyst-color)
}

.footer__link:not(:last-child) {
  margin-right: 17px;
}

.footer__svg {
  fill: #CACACA;
}