html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerRegular.woff2") format("woff2"),
       url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerLight.woff2") format("woff2"),
       url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerBold.woff2") format("woff2"),
       url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerMedium.woff2") format("woff2"),
       url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  background-color: #F1F1F1;
  font-weight: 400;
}

:root {
  --main-color: #C93;
  --title-color: #333;
  --black-color:#000000;
  --grey-color: #666;
  --light-color: #FFF;
  --hover-color: #F0BF5F;
  --active-color:#A47312;
  --text-color:#999;
}

.header {
  padding: 0;
  margin-bottom: 70px;
  padding-top: 30px;
}

.section-general:not(:last-child) {
  margin-bottom: 70px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-box-link {
   align-items: center;
   margin-bottom: 30px;
}

 .list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
 }

 .btn-reset {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  color: var(--main-color);
  font-size: 16px;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 13px 20px;
  position: relative;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-reset:hover {
  background-color: var(--main-color);
  color: var(--light-color);
}

.btn-reset:focus {
  background-color: var(--main-color);
  color: var(--light-color);
}

.btn-reset:active {
  background-color: var(--active-color);
  color: var(--light-color);
  border: 1px solid var(--active-color);
}

.flex {
  display: flex;
}

.content1-caption {
  margin: 0;
  margin-bottom: 20px;
}

.content1-title {
  margin: 0;
  margin-bottom: 20px;
}

.hidden {
  margin: 0;
  margin-bottom: 20px;
  font-family: Muller;
  color: var(--title-color);
  font-size: 60px;
  font-weight: 400;
  line-height: normal;
  padding-left: 55px;
  width: 1170px;
}

.header-logo {
  margin-right: 40px;
}

.header-number {
  max-width: 173px;
  color: var(--grey-color);
  margin-right: auto;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  transition: color 0.3s ease-in-out;
  position: relative;
}

.header-number:hover {
  color: var(--main-color);
}

.header-number::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  outline: 1px solid var(--main-color);
  outline-offset: 5px;
  transition: opacity .3s ease-in-out;
}

.header-number:focus::before {
  opacity: 1;
}

.header-number:active {
  color: var(--active-color);
  outline: none;
}

.header-user {
  display: flex;
  align-items: center;
  color: var(--main-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.3s ease-in-out;
  position: relative;
}

.header-user:hover {
  color: var(--hover-color);
}

.header-user::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  outline: 1px solid var(--main-color);
  outline-offset: 5px;
  transition: opacity .3s ease-in-out;
}

.header-user:focus::before {
  opacity: 1;
}

.header-user:active {
  color: var(--active-color);
}

.header-user svg {
  fill: var(--main-color);
  transition: fill .3s ease-in-out;
}

.header-user:hover svg {
  fill: var(--hover-color);
}

.header-user:active svg {
  fill: var(--active-color);
}

.header-nav {
  align-items: center;
  background: var(--light-color);
  border-radius: 15px;
  padding: 27px 45px;
}

.header-link {
  color: var(--grey-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.3s ease-in-out;
  position: relative;
}

.header-link:hover {
  color: var(--main-color);
}

.header-link::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  outline: 1px solid var(--main-color);
  outline-offset: 5px;
  visibility: hidden;
  transition: opacity .3s ease-in-out;
}

.header-link:focus::before {
  opacity: 1;
  visibility: visible;
}

.header-link:active {
  color: var(--active-color);
  outline: none;
}

.header-list:not(:last-child) {
  margin-right: 45px;
}

.header-items {
  margin-right: auto;
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}

.main {
  margin: 0 auto;
  width: 1200px;
}

.title-general {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: Muller;
  color: var(--title-color);
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  padding-left: 40px;
}

/*Спецпредложения*/

.special-general-block {
  display: flex;
}

.special-block {
  display: flex;
  flex-direction: column;
  width: 573px;
}

.special-block:not(:last-child) {
  margin-right: 24px;
}

.card-offers_left {
  border-radius: 15px;
  padding-left: 45px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 108px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card-offers_left:not(:last-child) {
  margin-bottom: 24px;
}

.img_1 {
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url("../img/мальдивы.jpg");
}

.img_2 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url("../img/горячий\ тур.jpg");
  background-repeat: no-repeat;
}

.special-big-block {
  display: flex;
  flex-direction: column;
  width: 573px;
}

.card-offers_right {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  background-position: center;
  border-radius: 15px;
  padding-top: 212px;
  padding-left: 45px;
  padding-bottom: 40px;
  padding-right: 229px;
  background-image: url("../img/номера\ люкс.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.special-caption {
  color: var(--light-color);
  font-family: Muller;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.special-white-price {
  color: var(--light-color);
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  width: 113px;
  height: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 47px;
  display: block;
  opacity: 0.8;
}

.special-right-caption {
  color: var(--light-color);
  font-family: Muller;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 0;
  width: 299px;
  margin-bottom: 15px;
}

.special-white-right-price {
  color: var(--light-color);
  font-family: Muller;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 142px;
  display: block;
  margin-bottom: 47px;
  opacity: 0.8;
}

.special-link {
  color: var(--main-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  transition: color .3s ease-in-out;
}

.special-link:hover {
  color: var(--hover-color);
}

.special-link::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  outline: 1px solid var(--main-color);
  outline-offset: 5px;
  transition: opacity .3s ease-in-out;
}

.special-link:focus::before {
  opacity: 1;
}

.special-link:active {
  color: var(--light-color);
  outline: none;
}

.special-link_big {
  color: var(--main-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  align-items: center;
}

.special-link_big:hover {
  color: var(--hover-color);
}

.special-link_big::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  outline: 1px solid var(--main-color);
  outline-offset: 5px;
  opacity: 0;
  transition: opasity .3s ease-in-out;
}

.special-link_big:focus::before {
  opacity: 1;
}

.special-link_big:active {
  color: var(--light-color);
  outline: none;
}

.special-link svg {
  stroke:  var(--main-color);
  fill: transparent;
  transition: stroke 0.3s ease-in-out;
  transition: transform .3s ease-in-out;
  position: absolute;
  top: 201.5px;
  left: 139px;
}

.special-link:hover svg {
  stroke: var(--hover-color);
  transform: translateX(10px);
}

.special-link:active svg {
  stroke: var(--active-color);
}

.special-link_big svg {
  stroke: var(--main-color);
  fill: transparent;
  transition: stroke 0.3s ease-in-out;
  transition: transform .3s ease-in-out;
  position: absolute;
  top: 489.5px;
  left: 139px;
  right: 0px;
  bottom: 0px;
}

.special-link_big:hover svg {
  stroke: var(--hover-color);
  transform: translateX(10px);
}

.special-link_big:active svg{
  stroke: var(--active-color);
}

/*О нас*/

.descr-text {
  margin: 0;
  padding: 0;
  color: var(--black-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}

.about-descr {
  display: inline-block;
  width: 888px;
  min-height: 192px;
  margin: 0;
  padding: 0;
}

/*Услуги*/

.services-items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.services-list {
  width: 573px;
  border-radius: 15px;
  background-color: var(--light-color);
  padding-top: 190px;
  padding-left: 45px;
  position: relative;
}

.list_img1 {
  background-image: url("../img/Экск\ обс.jpg");
  background-repeat: no-repeat;
}

.list_img2 {
  background-image: url("../img/Банкет.jpg");
  background-repeat: no-repeat;
}

.list_img3 {
  background-image: url("../img/сауны.jpg");
  background-repeat: no-repeat;
}

.list_img4 {
  background-image: url("../img/парковка.jpg");
  background-repeat: no-repeat;
}

.services-caption-link {
  margin: 0;
  padding: 0;
  color: var(--main-color);
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
}

.services-link {
  color: var(--main-color);
  display: flex;
  align-items: center;
  transition: color 0.3s ease-in-out;
}

.services-link:hover {
  color: var(--hover-color);
}

.services-link::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  outline: 1px solid var(--main-color);
  outline-offset: 5px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.services-link:focus::before {
  opacity: 1;
}

.services-link:active {
  color: var(--active-color);
}

.services-descr {
  margin: 0;
  padding: 0;
  width: 402px;
  margin-bottom: 35px;
}

.services-link svg {
   transition: stroke 0.3s ease-in-out;
   stroke: var(--main-color);
   fill: transparent;
   stroke-width: 2;
   transition: transform .3s ease-in-out;
}

.svg1 {
  position: absolute;
  top: 200px;
  left: 335px;
}

.svg2 {
  position: absolute;
  top: 200px;
  left: 292px;
}

.svg3 {
  position: absolute;
  top: 200px;
  left: 404px;
}

.svg4 {
  position: absolute;
  top: 200px;
  left: 412px;
}

.services-link:hover svg {
  stroke: var(--hover-color);
  transform: translateX(10px);
}

.services-link:active svg {
  stroke: var(--active-color);
}

/*Преимущества*/

.advantages-items {
  display: flex;
  flex-wrap: wrap;
}

.advantages-list {
  width: 276px;
  border-radius: 15px;
  background-color: var(--light-color);
  padding-left: 45px;
  padding-top: 40px;
}

.advantages-list:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantages-list:nth-child(-n+4) {
  margin-bottom: 22px;
}

.advantages-descr {
  width: 189px;
  color: var(--black-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 32px;
}

.advantages-pic {
  margin-bottom: 10px;
}

.advantages-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: Muller;
  color: var(--title-color);
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  padding-left: 40px;
}

/*Размещение*/

.accommodation-items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.accommodation-list {
  width: 374px;
  border-radius: 15px;
  background: var(--light-color);
  background-size: cover;
}

.accommodation-box {
  padding-left: 45px;
  padding-top: 36px;
}

.list_big-img {
  background-image: url("../img/image9.jpg");
  background-repeat: no-repeat;
}

.list-big {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.accommodation-link {
  margin: 0;
  padding: 0;
  min-width: 266px;
  color: var(--light-color);
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
  display: inline-block;
  margin-bottom: 27px;
  text-align: center;
  position: relative;
}

.accommodation-link:hover {
  color: var(--hover-color);
}

.accommodation-link::before {
  content: "";
  position: absolute;
  top: -385px;
  right: -2px;
  bottom: -30px;
  left: -2px;
  outline: 1px solid var(--hover-color);
  opacity: 0;
  transition: opacity .3s ease-in-out;
  outline-offset: 5px;
}

.accommodation-link:focus::before {
  opacity: 1;
}

.accommodation-link:active {
  color: var(--active-color);
}

.accommodation-link svg {
  padding-left: 3px;
  width: 11px;
  stroke-width: 2px;
  stroke: var(--light-color);
  vertical-align: middle;
  transition: stroke .3s ease-in-out;
  transition: transform .3s ease-in-out;
  stroke-width: 2;
}

.accommodation-link:hover svg {
  stroke: var(--hover-color);
  transform: translateX(10px);
}

.accommodation-link:active svg {
  stroke: var(--active-color);
}

.accommodation-pic {
  vertical-align: top;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.unification-box {
  display: flex;
  margin-bottom: 16px;
}

.accommodation-text-black {
  margin: 0;
  padding: 0;
  color: var(--black-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 53px;
}

.accommodation-caption {
  margin: 0;
  padding: 0;
  width: 243px;
  color: var(--black-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.accommodation-text {
  margin: 0;
  padding: 0;
  width: 191px;
  color: var(--text-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.accommodation-text-grey {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 17px;
  margin-right: 3px;
}

.accommodation-price {
  margin: 0;
  padding: 0;
  color: var(--black-color);
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 65px;
  margin-right: 3px;
  height: 20px;
}

.accommodation-btn {
  margin-bottom: 45px;
  min-width: 100px;
}

/*Хочу тур*/

.tour-block-general {
  border-radius: 15px;
  background-color: #E9E9E9;
  padding-left: 40px;
  padding-top: 45px;
  padding-right: 45px;
  padding-bottom: 45px;
}

.tour-title {
  margin: 0;
  padding: 0;
  color: var(--black-color);
  font-family: Muller;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.tour-form {
  display: flex;
  background-color: var(--light-color);
  border-radius: 15px;
  padding: 32px 28px;
}

.form-left {
  display: flex;
  margin-right: auto;
}

.form-block:not(:last-child) {
  margin-right: 41px;
}

.label {
  color: var(--black-color);
  font-family: Muller;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.select {
  border: 0px;
  color: var(--black-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 160px;
}

.input {
  width: 96px;
  border: 0;
  border-bottom: 1px solid #E9E9E9;
}

.input-date {
  border: 0;
  width: 120px;
}

.input[type=number]::-webkit-inner-spin-button,
      [type=number]::-webkit-outer-spin-button {
        opacity: 1;
}

.tour-btn {
  border-radius: 10px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 13px 30px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.tour-btn:hover {
  background-color: var(--main-color);
  color: var(--light-color);
}

.tour-btn:focus {
  background-color: var(--main-color);
  color: var(--light-color);
}

.tour-btn:active {
  background-color: var(--active-color);
  color: var(--light-color);
  border: 1px solid var(--active-color);
}

/*Контакты*/

.contacts-general {
  border-radius: 15px;
  background: var(--light-color);
  display: flex;
  padding: 45px;
}

.contacts-block-address {
  margin-right: 52px;
}

.contacts-title {
  color: var(--title-color);
  font-family: Muller;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-left: 45px;
  margin-bottom: 20px;
}

.contacts-item-caption {
  margin: 0;
  color: var(--black-color);
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contacts-text {
  color: var(--black-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 229px;
  margin: 0;
}

.contacts-dscr {
  color: var(--text-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}

.contacts-btn {
  border-radius: 10px;
  border: 1px solid var(--main-color);
  padding: 30px;
  background-color: transparent;
  color: var(--main-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contacts-btn:hover {
  background-color: var(--main-color);
  color: var(--light-color);
}

.contacts-btn:focus {
  background-color: var(--main-color);
  color: var(--light-color);
}

.contacts-btn:active {
  background-color: var(--active-color);
  color: var(--light-color);
  border: 1px solid var(--active-color);
}

.contacts-item-link {
  display: block;
  color: var(--main-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: fit-content;
  transition: color 0.3s ease-in-out;
  position: relative;
}

.contacts-item-link:hover {
  color: var(--hover-color);
}

.contacts-item-link::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  outline: 1px solid var(--main-color);
  opacity: 0;
  transition: opacity .3s ease-in-out;
  outline-offset: 2px;
}

.contacts-item-link:focus::before {
  opacity: 1;
}

.contacts-item-link:active {
  color: var(--active-color);
}

.contacts-list {
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
}

.contacts-item {
  display: flex;
  border-bottom: 1px solid #E9E9E9;
  padding-bottom: 23px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 25px;
}

.contacts-left-block {
  width: 98px;
  margin-right: 47px;
}

.contacts-pic {
  height: 100%;
}

/*Footer*/

.footer {
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-general-block {
  display: flex;
  border-radius: 15px;
  background: var(--title-color);
  padding: 45px;
  background-image: url("../img/Frame\ 11.svg");
  background-repeat: no-repeat;
  background-size: 254px 228px;
  background-position: 75% 100%;
}

.footer-left-block {
  width: 302px;
  margin-right: 125px;
}

.footer-right-block {
  margin-right: auto;
}

.footer-text {
  color: var(--light-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 190%;
  margin: 0;
}

.text_1 {
  margin-bottom: 37px;
}

.text_2 {
  margin-bottom: 40px;
}

.text_3 {
  margin-bottom: 15px;
}

.footer-link {
  margin: 0;
  display: block;
  color: var(--main-color);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: fit-content;
  transition: color 0.3s ease-in-out;
  position: relative;
}

.footer-pic {
  fill: var(--text-color);
  transition: fill 0.3s ease-in-out;
}

.footer-pic:hover {
  fill: var(--main-color);
}

.footer-pic:focus {
  fill: var(--main-color);
}

.footer-pic:active {
  fill: var(--active-color);
}

.footer-link:hover {
  color: var(--hover-color);
}

.footer-link::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  outline: 1px solid var(--main-color);
  opacity: 0;
  transition: opacity .3s ease-in-out;
  outline-offset: 5px;
}

.footer-link:focus::before {
  opacity: 1;
}

.footer-link:active {
  color: var(--active-color);
}

.footer-link_number {
  margin-bottom: 15px;
}

.footer-list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding:  0;
}

.footer-item:not(:last-child) {
  margin-bottom: 20px;
}





