
@media (max-width:1440px) {

  .container {
    padding: 0 50px;
  }

  .stages__content {
    margin-right: 48px;
    width: 100%;
  }

  .footer__content {
    display: none;
  }

  .footer__form {
    transform: translateX(0px);
  }
}

@media (max-width: 1280px) {

  .nav__item:not(:last-child) {
    margin-right: 59px;
  }

  .hero__box {
    padding: 160px 77px;
    background-image: url("../img/lowanglephotoofbalconies1024.jpg");
    background-size: cover;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 60px;
    letter-spacing: 0.7px;
  }

  .hero__text {
    margin-bottom: 61px;
    font-size: 20px;
  }

  .btn_big {
    padding: 24px 38px;
    letter-spacing: 0.2px;
  }

  .about__wrapp {
    flex-direction: column;
  }

  .about__box {
    padding-top: 444px;
    background-image: url("../img/Rectangle1024.jpg");
    background-size: cover;
    background-position: center;
  }

  .about__content {
    padding: 50px 51px;
  }

  .about__block {
    padding-top: 62px;
    padding-bottom: 62px;
    padding-left: 76px;
    padding-right: 154px;
  }

  .btn_stroke {
    padding: 18px 33px 18px 34px;
  }
}

@media (max-width:1024px) {

  .header {
    padding: 25px 0;
  }

  .header__logo {
    width: 150px;
  }

  .header__nav {
    margin-right: 105px;
  }

  .hero {
    padding-top: 39px;
  }

  .about {
    padding-top: 39px;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__caption {
    margin-bottom: 9px;
  }

  .about__wrapp {
    padding-top: 58px;
  }

  .stages {
    padding-top: 78px;
  }

  .stages__caption {
    margin-bottom: 10px;
  }

  .stages__text_margin {
    margin-bottom: 24px;
  }

  .stages__btn {
    margin-right: 30px;
  }

  .stages__box::after {
    background-image: url("../img/Rectangle10243.jpg");
    border-radius: 16px;
  }

  .questions {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .questions__list {
    flex-wrap: wrap;
  }

  .questions__title {
    margin-bottom: 32px;
  }

  .questions__item {
    padding: 64px 65px 64px 60px;
    width: 100%;
  }

  .footer {
    padding: 50px 0;
  }

  .footer__content {
    display: none;
  }

  .footer__btn {
    padding: 19px 37.5px;
    margin-right: 23px;
  }

  .checkbox__text {
    padding-left: 19.4px;
  }

  .footer__form {
    max-width: 100%;
  }

  .footer__link {
    font-size: 17.8px;
  }

  .footer__wrapper {
    padding-top: 33px;
  }
}

@media (max-width: 992px) {

  :root {
    --radius: 24px;
  }

  .nav__item:not(:last-child) {
    margin-right: 40px;
  }

  .header__nav {
    margin-right: 43px;
  }

  .nav__link {
    font-size: 16px;
    letter-spacing: 0.1px;
  }

  .hero__box {
    padding: 160px 100px 160px 40px;
    border-radius: var(--radius);
    background-image: url("../img/lowanglephotoof768.jpg");
    background-size: cover;
  }

  .hero__title {
    font-size: 50px;
  }

  .hero__text {
    font-size: 18px;
    margin-bottom: 61px;
  }

  .btn_big {
    padding: 24px 39px;
    letter-spacing: 0.1px;
  }

  .stages__box {
    flex-direction: column-reverse;
  }

  .stages__content {
    padding-top: 38px;
    margin: 0;
  }

  .stages__box::after {
    min-height: 350px;
    background-image: url("../img/Rect7682.jpg");
    background-size: cover;
  }

  .stages__btn {
    margin-right: 30px
  }

  .footer__wrapper {
    flex-direction: column;
  }

  .footer__btn {
    margin-right: 0;
    margin-bottom: 12px;
  }
}

@media (max-width:768px) {

  .header {
    padding: 16px 0 14px 0;
  }

  .header__logo {
    max-width: 110px;
  }

  .header__link {
    font-size: 16px;
  }

  .header__nav {
    margin-right: auto;
  }

  .hero {
    padding-top: 40px;
  }

  .hero__box {
    padding: 161px 40px;
  }

  .about {
    padding-top: 37px;
  }

  .about__box {
    padding-top: 455px;
    background-image: url("../img/Rectangle768.jpg");
    background-size: cover;
  }

  .about__wrapp {
    padding-top: 54px;
  }

  .about__content {
    padding: 34px 40px;
  }

  .about__text {
    width: 100%;
  }

  .about__text_left {
    width: 61%;
  }

  .about__text_right {
    line-height: 32px;
  }

  .btn_stroke {
    padding: 18px 35px;
  }

  .about__block {
    padding-top: 34px;
    padding-bottom: 33px;
    padding-left: 40px;
    padding-right: 45px;
    border-radius: 24px;
  }

  .about__image {
    margin-right: 15px;
    max-width: 114px;
  }

  .about__caption {
    margin-bottom: 9px;
    font-size: 23.9px;
   }

  .stages {
    padding-top: 81px;
  }

  .stages__title {
    margin-bottom: 30px;
  }

  .stages__content {
    padding-top: 40px;
  }

  .stages__text {
    letter-spacing: -0.4px;
  }

  .stages__box::after {
    min-height: 284px;
  }

  .questions {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .questions__item {
    padding: 35px 65px 33px 40px;
  }

  .questions__caption {
    margin-bottom: 9px;
  }

  .questions__title {
    margin-bottom: var(--gap);
  }

  .footer {
    padding: 50px 0;
  }

  .footer__list {
    display: none;
  }

  .footer__block {
    flex-direction: column-reverse;
  }

  .footer__form {
    width: 81%;
  }

  .footer__logo {
    margin-bottom: 0;
    padding-top: 50px;
  }

  .footer__title {
    margin-bottom: 25px;
  }

  .footer__wrap {
    padding-top: 11px;
  }

  .footer__wrapper {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 32px;
  }

  .footer__btn {
    margin-bottom: 0;
  }

  .footer__input {
    padding-left: 22px;
    padding-top: 20px;
  }

  .checkbox__text {
    padding-left: 18px;
    letter-spacing: 0.1px;
  }
}

@media (max-width:682px) {

  :root {
    --radius: 16px;
  }

  .container {
    padding: 0 20px;
  }

  .header__logo {
    width: 100%;
  }

  .header__block {
    flex-wrap: wrap;
  }

  .header__nav {
    overflow:scroll;
    width: 100%;
    order: 1;
  }

  .title {
    font-size: 24px;
  }

  .text {
    font-size: 14px;
  }

  .caption {
    font-size: 18px;
    font-weight: 500;
  }

  .hero__box {
    padding: 60px 21px 60px 22px;
    border-radius: var(--radius);
    background-image: url("../img/lowangle320.jpg");
    text-align: center;
  }

  .hero__title {
    margin-bottom: 6px;
    font-size: 20px;
    letter-spacing: 0.3px;
  }

  .hero__text {
    margin-bottom: 33px;
    font-size: 12px;
  }

  .btn_big {
    padding: 14px 28px 12px 28px;
    border-radius: 8px;
    font-size: 12px;
    letter-spacing: 0.05px;
  }

  .about {
    padding-top: 60px;
  }

  .about__box {
    background-image: url("../img/Rectangle2320.jpg");
    padding-top: 72%;
    border-radius: var(--radius);
    background-size: 100%;
    background-position: top;
    min-height: 200px;
  }

  .about__content {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 100%;
    background: none;
  }

  .about__wrapp {
    padding-top: 14px;
  }

  .about__text_left {
    margin-bottom: 11px;
    margin-right: 0;
    font-weight: 400;
    font-size: 14px;
    color: #000000;

  }

  .about__block {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    border: none;
  }

  .about__caption {
    margin-bottom: 4px;
    padding-top: 8px;
  }

  .about__image {
    margin-right: 0;
  }

  .about__text_right {
    line-height: 28px;
  }

  .about__description {
    width: 100%;
  }

  .stages__buttons {
    display: flex;
    justify-content: center;
  }

  .btn_stroke {
    padding: 10px 42px;
    color:#FF9900;
    font-size: 12px;
    border-radius: 8px;
    border: 2px solid #FF9900;
  }

  .stages {
    padding-top: 58px;
  }

  .stages__box::after {
    background-image: url("../img/stag320.jpg");
  }

  .stages__btn {
    margin-right: 10px;
    padding: 12px 44px;
    border-radius: 9px;
    font-size: 12px;
  }

  .btn_small {
    padding: 12px 32px;
    border-radius: 9px;
    font-size: 12px;
  }

  .questions__item {
    padding: 0;
    border: none;
  }

  .footer__form {
    margin-right: 0;
    align-items: center;
    width: 100%;
  }

  .footer__title {
    margin-bottom: 20px;
  }

  .footer__wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 26px;
  }

  .footer__btn {
    margin-right: 0;
    margin-bottom: 12px;
    padding: 12px 19px;
    font-size: 12px;
    border-radius: 8px;
  }

  .checkbox__text {
    padding-left: 18px;
    font-size: 16px;
  }

  .footer__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    max-width: 100%;
  }

  .footer__box::before {
    position: absolute;
    content: "";
    left: 0px;
    top: 24px;
    height: 1px;
    width: 100%;
    background-color:#414141;
  }

  .footer__logo {
    padding-top: 41px;
    max-width: 131px;
  }

  .footer__wrap {
    padding-top: 12px;
  }

  .footer__icon {
    width: 40px;
    height: 40px;
  }

  .footer__img:not(:last-child) {
    margin-right: 12px;
  }

  .footer__input {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 19px;
    font-size: 14px;
  }

  .footer__area {
    padding-top: 21px;
    padding-bottom: 95px;
    padding-left: 19px;
    font-size: 14px;
  }
}

@media (max-width:320px) {

  .container {
    padding: 0 15px;
  }

  .header {
    padding: 17px 0 40px 0;
    border-radius: 0px 0px 16px 16px;
  }

  .header__logo {
    margin-right: 156px;
  }

  .header__nav {
    padding-top: 17px;
  }

  .nav__link {
    font-size: 16px;
  }

  .header__block {
    flex-wrap: wrap;
  }

  .header__search {
    order: -1;
  }

  .header__logo {
   order: -1;
  }

  .nav__item:not(:last-child) {
    margin-right: 24px;
  }

  .hero {
    padding-top: 20px;
  }

  .about__text_left {
    margin-bottom: 12px;
    width: 100%;
  }

  .stages__box {
    flex-direction: column-reverse;
  }

  .stages__content {
    padding-top: 21px;
    width: 100%;
    margin: 0;
  }

  .stages__box::after {
   min-height: 160px;
  }

  .stages__title {
    margin-bottom: 20px;
  }

  .stages__caption {
    margin-bottom: 14px;
  }

  .stages__text {
    letter-spacing: 0.2px;
  }

   .questions {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .questions__caption {
    margin-bottom: 4px;
  }

  .questions__title {
    margin-bottom: 20px;
  }

  .questions__text {
    letter-spacing: 0.08px;
  }

  .footer {
    padding: 30px 0;
  }
}




