html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../Fonts/Montserrat-Regular.woff2") format("woff2"),
       url("../Fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../Fonts/Montserrat-Light.woff2") format("woff2"),
       url("../Fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../Fonts/Montserrat-Bold.woff2") format("woff2"),
       url("../Fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../Fonts/Montserrat-Medium.woff2") format("woff2"),
       url("../Fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  min-width: 320px;
}

:root {
  --color-light: #FFF;
  --color-black: #000;
  --color-btn: #F90;
  --color-grey: #CACACA;
  --color-form: #414141;
  --color-active: #E1670E;
  --color-hover:#FFB84D;
  --color-grey2: #666;
  --gap: 32px;
}

.container {
  margin: 0 auto;
  padding: 0 75px;
  max-width: 1920px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo {
  display: block;
  margin: 0;
  padding: 0;
}

.text {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}

.caption {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 122%;
  border: none;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
}

.btn_colored {
  background-color: var(--color-btn);
  color: var(--color-light);
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.btn_colored:hover {
  background-color: var(--color-hover);
}

.btn_colored:focus-visible {
  background-color: var(--color-hover);
  outline: 3px solid var(--color-light);
  outline-offset: 3px;
}

.btn_colored:active {
  background-color: var(--color-active);
}

.btn_average {
  padding: 20px 38px;
  color: var(--color-light);
}

/*header*/

.header {
  padding: 13px 0;
  border-radius: 0px 0px 32px 32px;
  -webkit-box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.10);
          box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.10);
}

.header__block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  margin-right: 84px;
}

.header__logo {
  margin-right: auto;
}

.nav__item {
  margin: 0;
  padding: 0;
}

.nav__item:not(:last-child) {
  margin-right: 84px;
}

.nav__link {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing:-0.05px;
  color: var(--color-black);
}

.nav__link::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  opacity: 0;
  background-color: var(--color-btn);
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.nav__link:hover::before {
  opacity: 1;
}

.nav__link:focus-visible {
  outline: 1px solid var(--color-btn);
  outline-offset: 5px;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  opacity: 0;
  background-color: var(--color-active);
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.nav__link:active {
  color: var(--color-active);
  outline: none;
}

.nav__link:active::after {
  opacity: 1;
}

.header__search {
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  outline: none;
  border: none;
  -webkit-transition: stroke 0.3s ease-in-out;
  -o-transition: stroke 0.3s ease-in-out;
  transition: stroke 0.3s ease-in-out;
}

.header__search path {
  width: 2px;
  fill: none;
  stroke: var(--color-black);
  -webkit-transition: stroke 0.3s ease-in-out;
  -o-transition: stroke 0.3s ease-in-out;
  transition: stroke 0.3s ease-in-out;
}

.header__search rect {
  fill: var(--color-black);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.header__search:hover path {
  stroke: var(--color-btn);
}

.header__search:hover rect {
  fill: var(--color-btn);
}

.header__search:focus-visible {
  outline: 2px solid var(--color-btn);
  outline-offset: 2px;
}

.header__search:active {
  outline: none;
}

.header__search:active path {
  stroke: var(--color-active);
}

.header__search:active rect {
  fill: var(--color-active);
}

/*hero*/

.hero {
  padding-top: 49px;
}

.hero__box {
  padding: 101px 80px 101px 80px;
  border-radius: 32px;
  background-image: url("../img/low-angle-photo-of-balconies-2462015\ 1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  max-width: 837px;
}

.hero__title {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-family: Montserrat;
  font-size: 71px;
  font-style: normal;
  font-weight: 800;
  line-height: 121%;
  color: var(--color-light);
}

.hero__text {
  margin: 0;
  padding: 0;
  margin-bottom: 93px;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-light);
}

.btn_big {
  padding: 23px 39px;
  font-size: 23px;
}

/*О нас*/

.about {
  padding-top: 51px;
}

.about__title {
  margin-bottom: 21px;
}

.about__wrapp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 49px;
  gap: var(--gap);
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  border-radius: 15px;
  background-image: url("../img/Rectangle2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about__content {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 51px 51px;
  border-radius: 32px;
  background-color: rgba(0,0,0,0.50);
}

.about__text {
  max-width: 1235px;
}

.about__text_left {
  width: 59%;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: var(--color-light);
  margin-right: auto;
}

.btn_stroke {
  background-color: transparent;
  border: 3px solid var(--color-btn);
  padding: 18px 35px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.btn_stroke:hover {
  background-color: var(--color-btn);
}

.btn_stroke:focus-visible {
  background-color: var(--color-btn);
  outline: 3px solid var(--color-light);
  outline-offset: 3px;
}

.btn_stroke:active {
  background-color: var(--color-active);
  border: 3px solid var(--color-active);
}

.about__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--gap);
  width: 100%;
}

.about__block {
  border: 1px solid var(--color-grey);
  border-radius: 32px;
  padding: 61px 115px 61px 58px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__caption {
  margin-bottom: 10px;
}

.about__image {
  width: 100%;
  margin-right: 25px;
}

.about__description {
  width: 211%;
}

/*Этапы*/

.stages {
  padding-top: 100px;
}

.stages__title {
  margin-bottom: 34px;
}

.stages__box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stages__box::after {
  content: "";
  width: 100%;
  border-radius: 32px;
  background-image: url("../img/Rectangle184.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.stages__caption {
  margin-bottom: 11px;
}

.stages__content {
  width: 89%;
  margin-right: 130px;
}

.stages__text {
  letter-spacing: 0.4px;
}

.stages__text_margin {
  margin-bottom: 16px;
}

.stages__btn {
 margin-right: 31px;
}

.stages__btn:focus-visible {
  outline: 3px solid var(--color-black);
  outline-offset: 3px;
}

.btn_small {
  padding: 20px 36px;
  background-color: transparent;
  border: 1px solid var(--color-black);
  color: var(--color-black);
  font-weight: 400;
  line-height: normal;
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.btn_small:hover {
  background-color: var(--color-grey2);
  border: 1px solid var(--color-grey2);
}

.btn_small:focus-visible {
  background-color: var(--color-grey2);
  outline: 3px solid var(--color-black);
  outline-offset: 3px;
}

.btn_small:active {
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  color: var(--color-light);
}

/*Вопросы*/

.questions {
  padding-top: 100px;
  padding-bottom: 99px;
}

.questions__title {
  margin-bottom: 35px;
}

.questions__caption {
  margin-bottom: 10px;
}

.questions__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: var(--gap);
}

.questions__item {
  margin: 0;
  padding: 0;
  outline: none;
  width: calc((100% - var(--gap)) / 3);
  padding: 63px 61px 63px 61px;
  border: 1px solid var(--color-grey);
  border-radius: var(--gap);
}

/*footer*/

.footer {
  padding: 51px 0;
  background-color: var(--color-black);
}

.footer__block {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__box {
  max-width: 254px;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__link {
  margin: 0;
  color: var(--color-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  position: relative;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.footer__link:hover {
  color: var(--color-btn);
}

.footer__link:focus-visible {
  outline-offset: 5px;
  outline: 1px solid var(--color-btn);
}

.footer__link:active {
  color: var(--color-active);
  outline: none;
}

.footer__item {
  margin: 0;
  padding: 0;
}

.footer__img {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  fill: var(--color-grey2);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.footer__img:not(:last-child) {
  margin-right: 21px;
}

.footer__img:hover {
  fill: var(--color-btn);
}

.footer__img:focus-visible {
  outline-offset: 5px;
  outline: 1px solid var(--color-btn);
}

.footer__img:active {
  fill: var(--color-active);
  outline: none;
}

.footer__form {
  max-width: 570px;
  -webkit-transform: translateX(55px);
      -ms-transform: translateX(55px);
          transform: translateX(55px);
}

.footer__title {
  color: var(--color-grey);
  margin-bottom: 27px;
}

.footer__wrap {
  padding-top: 90px;
}

.footer__input {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 19px;
  padding-left: 23px;
  border:none;
  background-color: var(--color-form);
  border-radius: 16px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.footer__input:hover {
  background-color: var(--color-grey2);
}

.footer__input:focus-visible {
  background-color: var(--color-grey2);
  color: var(--color-light);
  outline: 3px solid var(--color-light);
  outline-offset: 3px;
}

.footer__input:active {
  background-color: var(--color-grey2);
  color: var(--color-light);
}

.footer__input:not(:last-child) {
  margin-bottom: 25px;
}

.footer__area {
  display: block;
  margin: 0;
  width: 100%;
  border: none;
  resize: none;
  overflow: hidden;
  padding-top: 21px;
  padding-left: 23px;
  padding-bottom: 89px;
  background-color: var(--color-form);
  border-radius: 16px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.footer__area:hover {
  background-color: var(--color-grey2);
}

.footer__area:focus-visible {
  background-color: var(--color-grey2);
  color: var(--color-light);
  outline: 3px solid var(--color-light);
  outline-offset: 3px;
}

.footer__area:active {
  color: var(--color-light);
  background-color: var(--color-grey2);
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 34px;
}

.footer__btn {
  padding: 19px 53px;
  margin-right: 22px;
}

.checkbox {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox__new {
  position: absolute;
  top: 8px;
  width: 15px;
  height: 15px;
  background-color: var(--color-black);
  border: 1px solid var(--color-grey);
}

.checkbox__text {
  margin: 0;
  padding: 0;
  padding-left: 18px;
  color: var(--color-grey);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.checkbox__input:checked + .checkbox__new {
  background-image: url("../img/Check.svg");
  background-size: cover;
  border: none;
}

.footer__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 363px;
}

.footer__text {
  margin: 0;
  padding: 0;
  color: var(--color-grey);
}

::-moz-placeholder {
  color: var(--color-grey);
  opacity: 0.3;
}



