@media (max-width: 991px) {

  /*header*/

  .header {
    padding: 28px 0 27px 0;
  }

  /*basic*/

  .basic__block {
    padding: 117px 0 122px 0;
  }

  .basic__title {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 16px;
  }

  .basic__text {
    margin-bottom: 64px;
  }

  /*hero*/

  .hero {
    padding-bottom: 75px;
  }

  .hero__content {
    width: 66%;
  }

  .hero__list {
    align-items: flex-start;
    padding-top: 22px;
  }

  .hero__img {
    padding: 0;
    padding-top: 90px;
  }

  /*teachers*/

  .teachers {
    padding-bottom: 49px;
  }

  .teachers__list {
    gap: 23px 0;
  }

  .teachers__title {
    margin-bottom: 23px;
  }

  /*courses*/

  .courses-card__text {
    margin-bottom: 29px;
  }

  .courses-card__btn {
    padding: 20px 56px;
  }

  .courses-card__time {
    right: 10px;
  }
}

@media (max-width: 767px) {

  /*header*/

  .header {
    padding: 29px 0;
  }

  .header__logo {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 33px;
  }

  /*basic*/

  .basic__block {
    padding: 65px 0 122px 0;
  }

  .basic__title {
    margin-bottom: 16px;
  }

  .basic__picture {
    display: none;
  }

  /*hero*/

  .hero {
    padding-bottom: 55px;
  }

  .hero__block {
    align-items: flex-start;
  }

  .hero__content {
    width: 65%;
  }

  /*teachers*/

  .teachers {
    padding: 75px 0;
  }

  .teachers__subtitle {
    margin-bottom: 7px;
  }

  /*courses*/

  .courses {
    padding-bottom: 79px;
  }

  .courses-card__subtitle {
    line-height: 23.4px;
    margin-bottom: 9px;
  }

  .courses-card__btn {
    padding: 20px 48px;
  }

  .courses-card__text {
    margin-bottom: 34px;
  }

  .courses-card__description {
    padding-right: 30px;
  }

}

@media (max-width: 575px) {

  /*header*/
  .nav__list {
    overflow: scroll;
  }

  /*basic*/

  .basic__title {
    font-size: 30px;
    line-height: 30px;
  }

  .basic__text {
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 20.8px;
  }

  .basic__btn {
    padding: 20px 53px;
    font-size: 16px;
  }

  /*hero*/

  .hero__content {
    width: 100%;
  }

  .hero__item {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .hero__pic {
    display: none;
  }

  .hero__list {
    flex-direction: column;
  }

  .hero__item {
    justify-content: flex-start;
  }

  .hero__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .hero__img {
    padding: 0;
    padding-left: 110px;
  }

  /*teachers*/

  .teachers__img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    max-height: 180px;
  }

  /*courses*/

  .courses__list {
    gap: 30px 0;
  }

  .courses-card__btn {
    padding: 21px 56px;
  }

  .courses-card__pic {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
}

@media (max-width: 320px) {

  .caption {
    font-size: 20px;
    line-height: 26px;
  }

  /*header*/

  .header {
    padding: 25px 0;
  }

  .header__logo {
    margin-bottom: 26px;
  }

  /*basic*/

  .basic__block {
    padding: 38px 0 37px 0;
  }

  .basic__title {
    margin-bottom: 5px;
  }

  .basic__text {
    margin-bottom: 46px;
  }

  /*hero*/

  .hero {
    padding: 49px 0;
  }

  .hero__title {
    margin-bottom: 2px;
  }


  /*teachers*/

  .teachers {
    padding: 46px 0;
  }

  .teachers__title {
    margin-bottom: 24px;
  }

  .teachers__list {
    gap: 24px 0;
  }

  /*courses*/

  .courses {
    padding: 45px 0 50px 0;
  }

  .courses__content {
    min-height: 653px;
  }
}
