a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Roboto';
  src: url("../Fonts/Roboto-Regular.woff2") format("woff2"),
    url("../Fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../Fonts/Roboto-Bold.woff2") format("woff2"),
    url("../Fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


body {
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


:root {
  --color-blue: #3F2AFF;
  --color-light: #FFFFFF;
  --color-caption: #2E2B44;
  --color-text: #666666;
  --color-teachers: #85859B;
  --color-subtitle: #212133;
  --bg-color: #212133;
  --gap: 30px;
}

.caption {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}

.text {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.btn {
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
  border-radius: 20px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18.75px;
  color: var(--color-light);
  background-color: var(--color-blue);
  cursor: pointer;
}

.list-reset {
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}


/*header*/

.header {
  padding: 29px 0 26px 0;
  background-color: var(--color-blue);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 57px;
}

.nav__link {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 21.09px;
  letter-spacing: -0.01px;
  color: var(--color-light);
}

/*basic*/

.basic {
  padding: 13px 0;
  background-image: -o-radial-gradient(#555681, #212133);
  background-image: radial-gradient(#555681, #212133);
}

.basic__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.basic__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.basic__title {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 60px;
  font-style: normal;
  line-height: 60px;
  color: var(--color-light);
}

.basic__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.basic__text {
  margin-bottom: 63px;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-light);
}

.basic__btn {
  padding: 24px 76px;
  font-size: 18px;
}

/*hero*/

.hero {
  padding: 81px 0 79px 0;
}

.hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__title {
  color: var(--color-caption);
  margin-bottom: 17px;
}

.hero__text {
  color: var(--color-text);
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  margin-right: -15px;
  margin-left: -15px;
}

.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  min-height: 80px;
  padding-left: 110px;
  background-repeat: no-repeat;
}

.hero__img--1pic {
  background-image: url("../img/pic3.svg");
}

.hero__img--2pic {
  background-image: url("../img/pic2.svg");
}

.hero__img--3pic {
  background-image: url("../img/pic1.svg");
}


.hero__dscr {
  font-weight: 700;
  line-height: 19.2px;
  color: var(--color-text);
}

/*teachers*/

.teachers {
  padding: 76px 0 73px 0;
  background-color: var(--bg-color);
}

.teachers__title {
  color: var(--color-light);
  margin-bottom: 21px;
}

.teachers__img {
  display: block;
  border-radius: 22px 22px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 30px;
}

.teachers__subtitle {
  color: var(--color-light);
  margin-bottom: 8px;
}

.teachers__text {
  color: var(--color-teachers);
}

.teachers__list {
  margin-left: -15px;
  margin-right: -15px;
}


/*courses*/

.courses {
  padding: 75px 0 80px 0;
}

.courses__title {
  margin-bottom: 23px;
}

.courses__subtitle {
  line-height: normal;
  color: var(--color-subtitle);
}

.courses__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.courses__list:not(:last-child) {
  margin-bottom: var(--gap);
}

.courses-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.courses-card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-height: 300px;
  padding: 31px 16px 30px 30px;
  border-radius: 0 0 20px 20px;
  background-color: #EDF0F9;
}

.courses-card__pic img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.courses-card__picture {
  font-size: 0;
}

.time__img {
  display: block;
  margin-right: 5px;
}

.courses-card__time {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 13px;
  right: 5px;
  padding-left: 28px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.75px;
  color: var(--color-light);
  background-image: url("../img/houres.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.courses-card__btn {
  padding: 21px 59px;
  margin-top: auto;
}

.courses-card__text {
  margin-bottom: 15px;
}

.courses-card__subtitle {
  margin-bottom: 8px;
}

/*footer*/

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0 25px 0;
  background-color: var(--color-caption);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__item:not(:last-child) {
  margin-right: 33px;
}

.footer__bottom {
  padding: 3px 0;
}

.footer__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  line-height: 15.23px;
  color: var(--color-caption);
}

.footer__copy {
  padding: 0 3px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
  color: var(--color-blue);
}
